<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Transaction</title>
</head>
<body>
<h1>Add Transaction</h1>
<form action="#" th:action="@{/transactions/new}" th:object="${transaction}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required/>
    <br/>

    <label>Amount:</label>
    <input type="number" th:field="*{amount}" required step="0.01" min="0"/>
    <br/>

    <label>Type:</label>
    <select th:field="*{type}" required>
        <option th:each="type : ${T(com.xjs.transactionmanagement.entity.TransactionType).values()}"
                th:value="${type}"
                th:text="${type}"></option>
    </select>

    <br/>
    <button type="submit">Add Transaction</button>
</form>
<button onclick="window.location.href='/transactions';">Back to List</button>
</body>
</html>